<header class="border-bottom border-secondary py-3 px-4 d-flex align-items-center position-relative">
    <button class="btn btn-icon position-absolute start-0 ms-4 bg-secondary fw-bold" type="button"
        data-bs-toggle="offcanvas" data-bs-target="#sidebar">
        <i class="bi bi-list"></i>
    </button>

    <h1 class="h4 fw-bold mb-0 d-flex align-items-center mx-auto">
        <img src="/img/logo.png" class="mx-2 align-middle">
    </h1>

</header>

<div class="offcanvas offcanvas-start text-light sidebar-panel" id="sidebar">

    <div class="offcanvas-header border-bottom border-secondary">
        <h5 class="offcanvas-title fw-bold">Menú</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"></button>
    </div>

    <div class="offcanvas-body">

        <nav class="d-flex flex-column gap-1">
            <a href="/" class="nav-link sidebar-link">
                <i class="bi bi-collection me-2"></i> Biblioteca
            </a>
            <a href="/resources/stats.html" class="nav-link sidebar-link">
                <i class="bi bi-bar-chart me-2"></i> Estadísticas
            </a>
            <a href="/resources/management.html" class="nav-link sidebar-link">
                <i class="bi bi-gear me-2"></i> Gestión
            </a>
        </nav>

    </div>

</div>